.top_bg {
    background: #252525;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header_top {
    padding: 15px 0 25px;
}

element.style {
}

.top_right {
    float: right;
    color: #ffffff;
    margin-top: -5px;
}

.top_right ul {
    padding: 0;
    list-style: none;
}

ul, ol {
    margin: 0;
}

a {
    color: #1B242F;
    text-decoration: none;
}

a {
    background: transparent;
}

.top_right ul li {
    display: inline-block;
    margin-right: 10px;
}


element.style {
}

.top_right ul li a {
    text-align: center;
    padding: 0px 4px;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.header_right {
    float: right;
    width: 40%;
}

.head-t {
    padding: 1em 0;
}

.logo {
    float: left;
   	margin: 0.45em 0;
    font-size: 50px;
    padding-left: 10px;
}

.rgt-bottom {
    margin-bottom: 2em;
}

.cart {
    float: right;
    padding-right: 10px;
    width: 20%;
    /*margin: 5px 0;*/
    padding-left: 50px;
}

.cart a {
    vertical-align: middle;
    font-size: 0.85em;
    font-weight: 300;
    text-decoration: none;
    float: right;
}

.search {
	position: relative;
    background: #f3f4f5;
    border: 1px solid #D8D8D8;
    /*width: 340px;*/
    margin-right: 10px;
}

.search form {
    width: 100%;
}

form {
    display: block;
    margin-top: 0em;
}

.search input[type="text"] {
    margin: 0px 0;
    font-family: 'Open Sans', sans-serif;
    padding: 8px 16px;
    outline: none;
    color: #5a5a5a;
    background: none;
    border: none;
    width: 85.33333%;
    line-height: 1.5em;
    position: relative;
    font-size: 0.8725em;
    -webkit-appearance: none;
    text-transform: capitalize;
}

.search button[type="submit"] {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSl56RW86NlOQgiYTK5_BJ31YKcxxQe9sXZMH8xIqGCNOCT1Uw') no-repeat 0px 1px;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    height: 24px;
    top: 6px;
}

.reg {
	padding-left: 10px;
}

.menu {
  overflow: hidden;
  background-color: #333;
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 10px;
}

.menu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 17px;
}

.menu a:hover {
  background-color: #ddd;
  color: black;
}


.wrapper {
	padding-top: 20px;	
}

.loginFields, .loginHead, .fields, .loginBtn, .registerBtn {
	display: block;
	margin: 10px auto;
	text-align: center;
}

.loginHead, .fields {
	width: 300px;
	max-width: 320px;
	padding: 10px 20px;
}

.loginFields {
	border: 5px solid black;
	width: 350px;
	padding-top: 10px;
}
	
.fields {
	border: 1px solid black;
	text-align: left;
}

input:focus {
	outline: none;
	-webkit-animation: bodd 2s infinite;
}

.submitButton {
	text-align: left;
	font-weight: 900;
    font-size: 15px;
    background: none;
    text-align: center;
    border: 1px solid black;
}

.siteheading {
	text-decoration: none;
    font-weight: 600;
}